body {
  background-color: #d4def7;  
}

.App {
  text-align: center;
}

table {
  margin: 100px auto;
  border-collapse: collapse;
}

tr:first-child {
  background-color: #184458;
  color: white;
}

th {
  padding: 15px;
}

tr {
  border-bottom: 1px solid black;
}

td {
  padding: 10px;
}